.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  max-width: calc(100% - 1%); /* Ensure max width accounts for margins */
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 8px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%; /* Optional, adds slight rounding to the navbar */
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 0%;
}

.navbar .logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.navbar .nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
  color: black;
  margin: 0 auto; /* Center the nav items */
  padding: 0;
  position: relative; 
}

.navbar .nav-items li {
  display: inline;
}
.navbar .nav-items li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar .nav-items.scrolled li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}

.navbar .cta {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar .cta button {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.navbar .cta.scrolled button {
  background-color: black;
  color: white;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar .nav-items {
    flex-direction: column; /* Make nav items stack vertically on small screens */
    gap: 10px;
  }

  .navbar .cta {
    margin-top: 10px; /* Move the button below the nav items */
  }
}

.dropdown-menu {
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  border: 1px solid #ddd;   /* Subtle border */
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Soft shadow */
  z-index: 999;
  min-width: 150px;  
  color: black;     
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  background-color: whitesmoke;
  opacity: 0.8;
  color:black;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
  color:black;    /* Light hover effect */
}